input.invalid-input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.fa {
    margin-right: 0.5rem;
}

.nav-item {
    margin: auto 0.5rem;
}

#container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#files-table {
    width:auto;
}