input.invalid-input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.fa {
    margin-right: 0.5rem;
}

.nav-item {
    margin: auto 0.5rem;
}

#container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#files-table {
    width:auto;
    cursor: pointer;
}

#results-table {
    width: auto;
}

#refresh-button, #download-csv-button {
    margin: 0 auto 1rem auto;
    border: 1px black solid;
}

.main-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.not-logged-in-text{
    font-size: large;
    text-align: center;
    margin-top: 3rem;
}

#tutorial {
    width: 75%;
    /*padding: 3rem;*/
    margin: auto;
    text-align: center;
    align-items: center;
}

#download-tutorial-button {
    width: 20%;
    margin: auto;
}
.tutorial-div {
    margin-bottom: 50px;
}

